<!DOCTYPE html>

<body>
    <form method="post">
        <div class="input-group">
            <input type="text" class="form-control" name="city" placeholder="Search">
            <form>

                <div class="row">
                    {% if weather_info.country_code and weather_info.coordinate and weather_info.temp and
                    weather_info.pressure and weather_info.humidity %}
                    <div>
                        
                        <p>City name : {{weather_info.cityname}}</p>
                        <p>temp : {{weather_info.temp_cel}}</p>
                        <p>humidity : {{weather_info.humidity}}</p>
                        <p>country code : {{weather_info.country_code}}</p>
                    </div>
                    {% endif %}
                </div>
</body>

</html>