<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
    type="image/png" 
    href="../static/asset/logo2.png">
    <title>Sky Peeker</title>
</head>
<body class="home">


    <div id="image" style="background:url(/static/images/image_of_something.jpg) center / cover no-repeat;"></div>



    <header class="primary-header flex">
        <div>
            <img src="../static/asset/logo2.png" alt="" class="logo">
        </div>
        
        <hr class="hr-line-one">

        <button class="mobile-nav-toggle"
        aria-controls="primary-navigation"
        aria-expanded="false">
            <span class="sr-only"></span>
        </button>

        <nav>
            <ul id="primary-navigation" data-visible="false"
            class="primary-navigation flex">
            <li class="active">
                <a href="/">
                    <span aria-hidden="true">00</span>Home
                </a>
            
            <li>
                <a href="https://github.com/suryapsp/sky-peeker" target="_blank">
                    <span aria-hidden="true">01</span>Github
                </a>
            </ul>
        </nav>
        
    </header>
    <script src="../static/main.js"></script>

    <div class="skypeeker">

        <div class="content">
            <h1>Sky Peeker</h1>
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="city" placeholder="Search">
                    <form>
        
                        <div class="row">
                            {% if weather_info.country_code and weather_info.coordinate and weather_info.temp and
                            weather_info.pressure and weather_info.humidity %}

                            <div >
     
                                <p>City name : <span class="span">{{weather_info.cityname}}</span></p>
                                <p>temperature :<span class="span"> {{weather_info.temp_cel}}</span></p>
                                <p>humidity :<span class="span"> {{weather_info.humidity}}</span></p>
                                <p>country code : <span class="span">{{weather_info.country_code}}</span></p>
  
                            </div>
                            {% endif %}
                        </div>
                      </form>
                    </div>
                </form>  
        </div>
    </div>





</body>

</html>